.stable-container {
  background-color: $primary-color;
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

.stable {
  width: 100%;
  border-collapse: collapse;
  background-color: $primary-color;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.stable thead {
  tr {
    background-color: $secondary-color;

    th {
      text-align: left;
      padding: 1rem;
      font-weight: bold;
      font-size: 14px;
      position: relative;

      i {
        margin-left: 5px;
        font-size: 12px;
        color: #888;
      }
    }
  }
}

.stable tbody {
  tr {
    &:hover {
      background-color: $secondary-color;
    }

    td {
      padding: 1rem;
      text-align: left;
      border-bottom: 1px solid $secondary-color;

      .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;  /* Ensure the image covers the entire circle */
        border-radius: 50%;  /* Keep the circular shape */
      }

    }
  }
}
